<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.yigumoyan.blogjava.mapper.AboutMapper">

    <insert id="insertAbout" parameterType="top.yigumoyan.blogjava.entity.About">
        insert into about (id, markdown)
        values (#{id}, #{markdown});
    </insert>

    <delete id="deleteAboutById" parameterType="int">
        delete
        from about
        where id = #{id};
    </delete>

    <update id="updateAbout" parameterType="top.yigumoyan.blogjava.entity.About">
        update about
        set markdown = #{markdown}
        where id = #{id};
    </update>

    <select id="selectAllAbout" resultType="top.yigumoyan.blogjava.entity.About">
        select *
        from about;
    </select>

    <select id="selectAboutById" parameterType="int" resultType="top.yigumoyan.blogjava.entity.About">
        select *
        from about
        where id = #{id};
    </select>
</mapper>